@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

*{
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  cursor: default;
}
.cover{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
.dark-mode{
  background-color: rgb(30,30,30);
  color: whitesmoke;
}
header{
  display: flex;
  justify-content: center;
  font-family: 'Zen Dots',cursive;
  text-align: center;
  font-size: large;
}
h3{
  position: relative;
  font-family: 'Hachi Maru Pop', cursive;
  font-weight: lighter;
  /*font-family: 'Akaya Kanadaka', cursive;*/
  font-size: large;
  max-width: 80%;
  left: 0;
  /* margin-left: 20px; */
  cursor: inherit;
  word-wrap: break-word;
}
form{
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 80%;
  margin: auto;
  margin-top: 3%;
}
input{
  font-size: large;
  font-family:'Times New Roman', Times, serif;
  position: relative;
  border: 1px solid;
  border-radius: 50px;
  outline: none;
  padding: 15px;
  width: 60%;
  margin-right: 2%;
  cursor: auto;
  user-select: text;
}
.btn{
  background-color: black;
  border: none;
  position:relative;
  color: white;
  font-size: large;
  padding: 20px;
  border: 1px solid;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.btn:active{
  transform: translateY(4px);
}
.topright{
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 10px;
  z-index: 1;
  /* user-select: none; */
}
.rightBottom{
  background-color: white;
  border-radius: 100%;
  border: 2px solid;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 10px;
  width:40px;
  z-index: 1;
  user-select: none;
}

.tasks{ 
  position: relative;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 80%;
  border: 2px solid;
  align-items: center;
  
}
.delbtn{
  color: rgb(225,50,35);
  position: relative;
  font-size: large;
  cursor: inherit;
}
.delbtn:active{
  transform: translateY(3px);
  /* transform: scaleY(1.5); */
}
.strike{
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
.center{
  display: flex;
  justify-content: center;
  position: relative;
  padding: none;
  border: 1px solid;
  border-radius: 15px;
  max-width: 70%;
  margin: auto;
  margin-bottom: 20px;
  hyphens: auto;
  box-shadow: -5px 2px darkgrey;
}

@media(hover:hover){
  .center:hover{
    cursor: pointer;
    border: none;
    transform: translate(-5px);
    box-shadow: -2px 2px darkgrey;
    /* transform: scale(1,1.5); */
  } 
  .rightBottom:hover{
    transform: scale(50px);
  }
  .btn:hover{
    transform: translateY(2px);
  }
}

@media(hover:none){
  .center:active{
    box-shadow: -2px 2px darkgrey;
    transform: translate(-5px);
  } 
  .rightBottom:active{
    transform: scale(50px);
  }
  .btn:active{
    transform: translateY(2px);
  }
}
