@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

*{
  user-select: none;
  cursor: default;
}
header{
  display: flex;
  justify-content: center;
  font-family: 'Zen Dots',cursive;
  text-align: center;
  font-size:x-large;
}
h3{
  position: relative;
  font-family: 'Hachi Maru Pop', cursive;
  font-weight: lighter;
  /*font-family: 'Akaya Kanadaka', cursive;*/
  font-size: large;
  max-width: 80%;
  left: 0;
  cursor: default;
  word-wrap: break-word;
}
form{
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 80%;
  margin: auto;
  margin-top: 3%;
}
input{
  font-size: large;
  font-family: cursive;
  position: relative;
  border: 1px solid;
  outline: none;
  padding: 15px;
  width: 60%;
  margin-right: 2%;
  cursor: auto;
  user-select: text;
}
.btn{
  /*background-color: black;*/
  border: none;
  position:relative;
  color: white;
  font-size: large;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}
/*.topright{
  position:absolute;
  right: 5px;
}*/
.tasks{ 
  position: relative;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
  border: 2px solid;
  align-items: center;
}
.delbtn{
  color: red;
  position: relative;
  font-size: large;
  cursor: pointer;
}
.strike{
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
.center{
  display: flex;
  justify-self: center;
  position: relative;
  max-width: 70%;
  margin: auto;
  margin-bottom: 5px;
}
