@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

*{
  user-select: none;
  cursor: default;
}
header{
  font-family: 'Zen Dots',cursive;
  text-align: center;
  font-size:x-large;
}
h3{
  font-family: 'Stick', sans-serif;
  /*font-family: 'Akaya Kanadaka', cursive;*/
  width:fit-content;
  position: relative;
  margin-left: 10%;
  font-size: xx-large;
  cursor: default;
}
form{
  position: relative;
  margin-top: 15px;
}
input{
  font-size: large;
  font-family: 'Akaya Kanadaka', cursive;
  position: relative;
  margin-left: 10%;
  margin-right: 10px;
  border: 1px solid;
  outline: none;
  padding: 15px;
  width: 60%;
  cursor: auto;
  user-select: text;
}
.btn{
  /*background-color: black;*/
  border: none;
  position:relative;
  margin-right: 2px;
  color: white;
  font-size: large;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}
.topright{
  position:absolute;
  right: 5px;
}
.tasks{ 
  position: relative;
  border-radius: 10px;
  min-height: 100px;
  margin: auto;
  min-width: 70%;
  width: fit-content;
  border: 2px solid;
  align-items: center;
}
.delbtn{
  position: absolute;
  right: 5px;
}
.strike{
  text-decoration: line-through;
}